
<div class="jumbotron">
    <h1>Nandoso Mt Eden</h1>
    <p class="lead">Nandoso - The home of great flame-grilled chicken</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Specials</h2>
        <p>View today's specials</p>
        <p><a class="btn btn-default" href="~/Views/Specials/Specials.cshtml">Specials &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Feedback</h2>
        <p>Provide feedback on our service</p>
        <p><a class="btn btn-default" href="~/Views/Feedback/Feedback.cshtml">Feedback &raquo;</a></p>
    </div>
</div>
