<!DOCTYPE html>
<html>
<head>




    <script src="Scripts/jquery-2.1.4.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <link href="Content/bootstrap.css" rel="stylesheet" />

    <script src="Scripts/SpecialsModule.js"></script>
    <script src="Scripts/index.js"></script>
</head>
<body>
    <div class="jumbotron">
        <h1>Nandoso Mt Eden</h1>
        <p class="lead">Nandoso - The home of great flame-grilled chicken</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Specials</h2>
            <p>View today's specials</p>
            <p><button onclick="setUpSpecials()">Specials &raquo;</button></p>
        </div>
        <div class="col-md-4">
            <h2>Feedback</h2>
            <p>Provide feedback on our service</p>
            <p><button onclick="setUpFeedback()">Feedback &raquo;</button></p>
        </div>
        <div id="contentbody">

        </div>
    </div>

</body>
</html>